1번 답안

In [ ]:

DROP TABLE AGENTS CASCADE CONSTRAINTS;
CREATE TABLE AGENTS(	
    AGENT_CODE CHAR(6) not null primary key, 
	AGENT_NAME CHAR(40), 
	WORKING_AREA CHAR(35) 
	);
​
DROP TABLE CUSTOMER CASCADE CONSTRAINTS;
CREATE TABLE CUSTOMER(
    CUST_CODE VARCHAR2(6) NOT NULL PRIMARY KEY, 
	CUST_NAME VARCHAR2(40) NOT NULL, 
	CUST_CITY CHAR(35), 
	WORKING_AREA VARCHAR(20), 
	AGENT_CODE CHAR(6) NOT NULL REFERENCES AGENTS
    );   
​
DROP TABLE ORDERS CASCADE CONSTRAINTS;
CREATE TABLE ORDERS(
    ORD_NUM NUMBER(6,0) NOT NULL PRIMARY KEY, 
	ORD_AMOUNT NUMBER(12,2) NOT NULL, 
	ORD_DATE DATE NOT NULL, 
	CUST_CODE VARCHAR2(6) NOT NULL REFERENCES CUSTOMER, 
	AGENT_CODE CHAR(6) NOT NULL REFERENCES AGENTS 
    );

2번 답안

In [ ]:
select cust_city from customer c, orders o where c.agent_code = o.agent_code and ord_date = '13/07/08'

3번 답안

In [ ]:
update customer set agent_code = 'A007' where cust_city = 'Bangalore';

update customer set cust_city = 'NewYork', agent_code = 'A008' where cust_city = 'San Jose';

4번 답안

In [ ]:
create or replace function lee(v_code agents.agent_code%type)
return varchar2
is
    v_area agents.working_area%type;
begin
    select working_area
        into v_area
    from agents
    where agent_code = v_code;
    return v_area;
end;
/
select lee('A011') from dual

## 출력내용

LEE('A011')
------------
Bangalore

5번 답안

In [ ]:
create or replace function cust_c(v_cust_code customer.cust_code%type)
return customer.cust_city%type

is

	v_cust_city customer.cust_city%type;
begin
	select cust_city 
		into v_cust_city
	from customer
	where cust_code = v_cust_code;
	
	return v_cust_city;
end;
/

select cust_c('C00013') from dual;

6번 답안

In [ ]:
declare
    ck_num ORDERS.ORD_NUM%type := &v;  
    v_num ORDERS.ORD_NUM%type;
    v_amo ORDERS.ORD_AMOUNT%type;
    v_dat ORDERS.ORD_DATE%type;
begin
    select ORD_NUM, ORD_AMOUNT, ORD_DATE
        into v_num, v_amo, v_dat
    from orders
    where ORD_NUM = ck_num;
    dbms_output.put_line('주문번호 : ' || v_num);
    dbms_output.put_line('주문일자 : ' || v_dat);
    dbms_output.put_line('주문금액 : ' || v_amo);
end;
/